body {
  display: block;
  font-family: "Happy Monkey", cursive;
  /* background: #a2d2ff; */
  background: linear-gradient(rgb(112, 112, 196), rgb(210, 152, 161));
}

.main {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#image {
  border-radius: 70%;
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border: 5px solid rgb(252, 249, 250);
}

#h1 {
  text-shadow: 0px 0px 2px black;
}

#h3 {
  text-shadow: 0px 0px 2px black;
  background-color: #efb0c9;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 20px 10px 10px 10px;
}
#h4 {
  text-shadow: 0px 0px 2px black;
  background-color: #efb0c9;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px 10px 10px 10px;
}

/* second div */
.second-div,#third-div-line, #border-line {
  color: white;
  text-shadow: 0px 0px 1px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px dotted rgb(72, 59, 61);
}

#second-h2 {
  margin-top: 10px;
}
#second-h4 {
  margin-top: 1px;
  margin-bottom: 5px;
}

.first-gift, .fourth-gift {
  background-image: url("./image/gift.jpg");
  background-size: cover;
  margin: 0 auto;
  height: 200px;
  width: 200px;
  border: 3px solid rgb(246, 246, 246);
  margin-bottom: 20px;
  border-radius: 5px;
}

.first-gift:hover {
  background-image: url("./image/giphy.webp");
}

#h-line{
    padding-bottom: 10px;
}
/* second div */

#people-reaction:hover{
    background-image: url("./image/people_reaction.webp");
}

.fourth-gift:hover{
    background-image: url("./image/amazing.webp");
   padding-right: 100px;
    
}

