body{
    min-height: 100%;
    align-items: center;
    justify-content: center;
}

.image {
    width: 500px;
    align-content: center;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;

}

.input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 500px;
    height: 30px;
    border-radius: 10px;
   box-shadow: -1px 1px 5px 1px gray;
   border: none;
}

.button-div{
    display: flex; 
    justify-content: center;
    gap: 10px;
   
}

#f-button:hover , #s-button:hover { 
    border-color: none;
    background: rgb(227, 227, 227);
    height: 30px;
    width: auto;  
}

.googe-offer{
    display: flex;
    justify-content: center;
}

#link-1, #link-2, #link-3, #link-4{
    text-decoration: none;
    margin-left: 10px;
    color:rgb(47, 16, 198);
     
}

.footer-div{
    background-color: rgb(233, 230, 230);
    width: 100%;
    position: absolute;
    bottom: 0; 
    letter-spacing: 2px
}

.footer{
    padding: 10px 10px 10px 10px;
    justify-content: center;
    align-items: center;
    padding-top: auto; 
    text-align: center;
    padding-left: auto;
    margin-bottom: 20px;
}

#c-location{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-style: italic;
}
#link-5{
    display: inline;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
     
    color:rgb(47, 16, 198);
}

 