body {
  background-color: rgb(235, 232, 228);
  justify-content: center;
  align-items: center;
  display: flex; 
  padding: 10px;
}

.first-div {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 5px;
  background-color: rgb(245, 200, 142);
}

.button-div,
.button-me {
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100px;
  margin: auto;
  border-radius: 3px; 
  color: black;
  display: flex;
}

#fName,
#lName,
#age {
  width: 400px;
  height: 25px;
  border-radius: 4px;
}

th,
td {
  border: 1px solid black;
  width: 100px;
}
